body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


li.nav-item:hover {
    background-color: cadetblue;
    border-radius:.5em;
}
.col-md-8 .form-control,
.col-md-4 .form-control {
    background-color: cadetblue;
    border: none;
    border-bottom: 2px solid;
}

    .col-md-8 .form-control:focus,
    .col-md-4 .form-control:focus{
        background-color: cadetblue;
        border: none;
        border-bottom: 1px solid;
    }