@using PagedList.Mvc
@model PagedList.IPagedList<ConcursosContratos.Models.MunicipioCLS>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaRegion = (List<SelectListItem>)ViewBag.listaRegion;
    List<SelectListItem> listaEntidad = (List<SelectListItem>)ViewBag.listaEntidad;
}

<h2>MUNICIPIOS</h2>



@using (Ajax.BeginForm("Filtrar", "Municipio", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "FiltrarMunicipio",
    InsertionMode = InsertionMode.Replace
},
new
{
    @id = "frmFiltro"
}))
{


<div class="list-group list-group-horizontal my-3">
    <div class="list-group-item">
        <small class="badge badge-pill badge-info">Buscar</small>
        @Html.TextBox("municipiobuscar", null, new { placeholder = "Municipio", @class = "form-control mb-3" })
    </div>
    <div class="list-group-item invisible">
 
        <small class="badge badge-warning text-black-50">Registrar Entidad al hacer clic en el boton correspondiente para agregar</small>
        <div class="form-row">
            <div class="col-auto ">
                <select id="IdEntidad" class="form-control form-control-sm my-3 ">
                </select>
            </div>
            <div class="col-auto">
                <button type="button" onclick="RegistroEnt()" class="btn btn-primary my-3 ml-2  btn-sm">
                    <i class="far fa-plus-square "></i>
                </button>
            </div>
            <div class="col-auto">
                <select id="IdRegion" class="form-control form-control-sm my-3 invisible">
                </select>
            </div>
            <div class="col-auto">
                @Html.TextBox("municipio", null, new { placeholder = "Municipio", @class = "form-control form-control-sm my-3" })
            </div>
        </div>
        <button type="submit" onclick="Guardar()" class="fas fa-plus-circle btn btn-success float-md-right"></button>
       @* <i class="fas fa-plus-circle btn btn-success float-md-right" onclick="Guardar()"></i>*@
      
    </div>
</div>
    <div id="FiltrarMunicipio">
        @Html.Partial("_ListaMunicipio", Model)
    </div>
}

<script src="~/Scripts/funcionesMunicipio.js"></script>
