
<div class="mt-3 d-block">
    <small id="ofAutHelp" class="form-text text-muted">Oficio de Autorizacion</small>
    <select class="custom-select-sm w-50" id="listOfAut" aria-describedby="ofAutHelp"></select>
    <button id="ofaut" class="btn btn-sm btn-outline-success" onclick="asignarOficios()" type="button">Asignar</button>

    <table id="TblOficios">
        <tr>
            <td>
            </td>
        </tr>
    </table>

</div>

